body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Radley", serif;
  background: url(https://i.imgur.com/qq8Vx74.jpg);
  background-size: 100vw;
  background-attachment: fixed;
  font-family: "Julius Sans One", sans-serif;
}

@import url(https://fonts.googleapis.com/css?family=Radley);
@import url(https://fonts.googleapis.com/css?family=Julius+Sans+One);
